.header-text{
    padding-top: 10px;
    /* color: rgb(159, 230, 240); */
    color: #111;
}

.header-hindi-text{
    font-size: 19px;
}

.header-english-text{
    margin-top: -15px;
    font-size: 40px;
    font-weight: 800;
}

.header-mainimg{
    margin-bottom: 10px;
    height: 100px;
    width: auto;
}

header {
    background-color: white;
    text-align: center;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

nav {
    margin-top: -15px;
    background-color: #F6F3EE;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #111;
    text-decoration: none;
    padding-right: 25px;
    font-size: 16px;
    font-weight: 600;
}

nav a:hover {
    color: #666;
    transform: scale(1.05); /* Add a slight scale effect on hover */
}