.header-text {
  padding-top: 10px;
  color: #111;
}

.header-hindi-text {
  font-size: 19px;
}

.header-english-text {
  margin-top: -15px;
  font-size: 40px;
  font-weight: 800;
}

.header-mainimg {
  margin-bottom: 10px;
  height: 100px;
  width: auto;
}

header {
  background-color: white;
  text-align: center;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  /* position: relative; */
}

nav {
  /* margin-top: -10px; */
  background-color: #f6f3ee;
  padding: 10px;
  text-align: center;
  justify-items: center;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

nav.open {
  max-height: 300px;
}

nav a {
  color: #111;
  text-decoration: none;
  padding-right: 25px;
  font-weight: 600;
  /* display: block; */
}

nav a:hover {
  color: #666;
  transform: scale(1.05);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f3ee;
  padding: 10px;
  min-width: 150px;
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown.open .dropdown-content {
  display: block;
}

/* .dropdown-toggle {
  cursor: pointer;
} */

/* Add this style for the footer */
footer {
  background-color: #f6f3ee;
  text-align: center;
  padding: 10px;
  color: #111;
  font-size: 14px;
}

.disclaimer {
  color: red;
  font-size: 12px;
  text-align: center;
}

/* Styles for menu icon */
.menu-icon-left {
  display: none;
  
}

.menu-icon-pic{
  max-width: 100%;
  max-height: 100%;
}

.icon-bar {
  width: 25px;
  height: 4px;
  background-color: #111;
  margin-bottom: 4px;
}

.open .icon-bar:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.open .icon-bar:nth-child(2) {
  opacity: 0;
}

.open .icon-bar:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -4px);
}

@media (max-width: 767px) {
  nav {
    /* visibility: hidden; */
    padding: 0;
  }

  .menu-icon-left {
    display: block;
    position: absolute;
    margin-top: 8px;
    /* margin-left: 20px;  */
    /* margin-bottom: 10px; */
    width: 100px;
    height: 25px;
    left: 0;
  }

  .nav-a-list{
    margin-top: 40px;
  }

  .menu-icon-pic{
    border: 1px solid #111;
  }
  
  .open .menu-icon-pic{
    transform: scaleY(-1);
  }

  nav a {
    display: none;
    cursor: none;
    font-size: 30px;
  }

  .open a {
    display: block;
    margin-bottom: 5px;
  }

  .dropdown.open .dropdown-content {
    top: 50px;
    left: 0;
    min-width: 100%;
  }
}
@media (max-width: 480px) {
  .header-text {
    padding-top: 10px;
  }

  .header-hindi-text {
    font-size: 16px;
  }

  .header-english-text {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .header-mainimg {
    height: 66px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  nav a {
    font-size: 15px;
    padding-right: 10px;
  }

  .footer {
    font-size: 10px;
    padding: 3px;
  }

  .footerp {
    font-size: 12px;
  }

  .disclaimer {
    font-size: 10px;
  }
}