    .container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    background-color: white;
  }

  .container-row{
    width: 60%;
    background-color: #f9f9f9;
    border: 0.5px solid #000; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
    .row-wrapper {
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .row {
    width: 90%;
    padding-top: 2vh;
    /* border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }

  .row a{
    color: blue;
    text-decoration: underline;
  }

  .social-media-icons {
    margin-top: 10px;
  }
  
  .social-media-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media-icons img {
    width: 40px;
    height: 30px;
  }

  @media (max-width: 767px) {
    .container-row {
      width: 80%;
    }
    .row{
      font-size: 13px;
    }
    .row-wrapper h2{
      font-size: 20px;
    }
    .social-media-icons img {
      width: 25px;
      height: 20px;
      margin-bottom: 10px;
    }
  }